/* CSS Reset & Base Styles */
*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html,body{
  height:100%;
  scroll-behavior:smooth;
}

body{
  padding-top:80px;
  font-family: system-ui,-apple-system,Segoe UI,Roboto,"Helvetica Neue",Arial;
  background: url('../images/background.svg'), linear-gradient(180deg,var(--background-color),#ffffff);
  background-attachment: fixed;
  background-size: 60px;
  background-position: center;
  color:var(--text-color);
  line-height:1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
